@import "tailwindcss";

/* @tailwind base;
@tailwind components; */

@tailwind utilities;

@layer components {
  .btn-primary {
    @apply bg-primary text-white px-8 py-4 rounded-full font-bold text-lg hover:bg-opacity-90 transition shadow-lg hover:shadow-gold/30;
  }
  .btn-gold {
    @apply bg-gold text-primary px-8 py-4 rounded-full font-bold text-lg hover:bg-opacity-90 transition shadow-lg;
  }
  .card {
    @apply bg-white rounded-2xl shadow-xl border border-gray-100 overflow-hidden;
  }
}

